/* 
*******************************************************
-- Below 1384px --
*******************************************************
*/

@media (max-width: 86em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

/* 
*******************************************************
-- Below 1200px --
*******************************************************
*/

@media (max-width: 75em) {
  .heading-primary {
    font-size: 3.6rem;
  }

  .heading-secondary {
    font-size: 2.4rem;
    padding: 1.2rem 0;
  }

  .about-me-paragraph {
    font-size: 1.6rem;
  }

  .skillset-container {
    max-width: 50rem;
  }

  .skillset {
    font-size: 1.6rem;
    margin: 5.6rem 0;
  }

  .skillset-logo {
    padding: 1rem 3.2rem;
    height: 2rem;
    width: 2rem;
  }

  .project-container {
    padding: 1.6rem;
  }

  .project-header {
    font-size: 2rem;
  }

  .project-attributes {
    font-size: 1.6rem;
    line-height: 3.6rem;
  }

  .attribute-icon-small {
    height: 1.8rem;
    width: 1.8rem;
  }

  .section-contact {
    margin: 8rem;
  }

  .contact-paragraph {
    font-size: 1.6rem;
  }

  .contact-text {
    font-size: 1.2rem;
  }

  .contact-flex {
    column-gap: 0;
  }

  .footer {
    font-size: 1.2rem;
  }
}

/* 
*******************************************************
-- Below 928px --
*******************************************************
*/

@media (max-width: 58em) {
  .main-nav-link:link,
  .main-nav-link:visited,
  .logo {
    font-size: 2rem;
  }

  .hero {
    padding: 0 7.4rem;
  }

  .heading-primary {
    font-size: 3.2rem;
  }

  .heading-secondary {
    font-size: 2rem;
  }

  .skillset {
    margin: 2.4rem auto;
  }

  .project-container {
    padding: 1.2rem;
  }

  .project-header {
    font-size: 1.6rem;
  }

  .project-attributes {
    font-size: 1.2rem;
    line-height: 3.6rem;
  }

  .attribute-icon-small {
    height: 1.4rem;
    width: 1.4rem;
  }

  .section-contact {
    margin: auto;
  }

  .contact-paragraph {
    font-size: 1.2rem;
  }

  .contact-logo {
    padding: 1.6rem;
  }

  .contact-logo-email {
    padding: 0.4rem;
  }
}

/* 
*******************************************************
-- Below 800px --
*******************************************************
*/

@media (max-width: 50em) {
  .header {
    height: 6.4rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited,
  .logo {
    font-size: 1.6rem;
  }

  .hero {
    padding: 0 4.4rem;
  }

  .heading-primary {
    font-size: 2.4rem;
  }

  .heading-secondary {
    padding: 0.8rem 0;
  }

  .about-me-paragraph {
    font-size: 1.2rem;
  }

  .skillset {
    font-size: 1.4rem;
  }

  .skillset-logo {
    height: 1.8rem;
    width: 1.8rem;
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-attributes {
    font-size: 1.6rem;
  }

  .project-attribute {
    gap: 0.8rem;
  }

  .attribute-icon {
    height: 2.2rem;
    width: 2.2rem;
  }

  .attribute-icon-small {
    height: 1.8rem;
    width: 1.8rem;
  }

  .project-git:link,
  .project-git:visited {
    gap: 0.8rem;
  }

  .contact-flex {
    column-gap: 1.6rem;
  }

  .contact-logo {
    padding: 1.6rem;
  }

  .contact-logo-email {
    padding: 0.4rem;
  }
}

/* 
*******************************************************
-- Below 704px --
*******************************************************
*/

@media (max-width: 44em) {
  .hero-text-box {
    padding: 0 6.4rem;
  }

  .section-about {
    padding: 12.8rem 9.6rem;
  }

  .section-contact {
    padding: 6.4rem;
  }

  .contact-flex {
    gap: 0;
  }
}

/* 
*******************************************************
-- Below 544px --
*******************************************************
*/

@media (max-width: 34em) {
  .container {
    padding: 0;
  }

  .hero-text-box {
    padding: 0 2.4rem;
  }

  .section-about {
    padding: 3.6rem;
  }

  .project-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 3.6rem;
  }

  .contact-flex {
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  .contact-btn-email {
    width: 100%;
    justify-content: center;
  }
}

/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
*/
